/* Family Tree / Breeding Wizard CSS*/
.breeding-wizard {
  flex: 1;
  padding: 20px;
  position: relative;
}
.family-tree {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20%;
  width: calc(100% - 200px);
  margin-left: 200px;
  justify-items: center;
  align-items: center;
}

.tree-box {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 100px; /* Adjust as needed */
}
